*{
    margin: 0;
    padding: 0;
}
img{
    margin-left: 46%;
    width: 10rem;
    height: 4rem;
}
nav{
    background-color: #e1a202;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav a{
    font-size: 20px;
    color: aliceblue;
    text-decoration: none;
    margin: 0 25px 0 25px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a:hover{
    color: gray;
    background-color: red;
}
